*/*.swp
*.swp
*/.*
*/*.iml
*/out/
*/*/out/
*/*/ignore
*/commit-msg.txt
*/*.ser
*/*/*.ser
phase1/src/sources.txt
phase1/myLog.txt
phase1/nameChangeLog.txt
test-images/
*.txt
!*/help.txt
!*/duties.txt
!*/commit_issue_numbers.txt
*.lck
*/*.lck
*/*/*/uml.*
*/*/UML.*
out/*
*/*.txt.*
